
/*New code below*/

*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    max-width:100%;
    border:1px solid black;
}
html{
    font-size:62.5%;
}
body{
    font-size:2em;
}
nav{
    width:100%;
    margin:0 auto;
    padding:2%;
}
nav p{
    display:inline-block;
}
.plan{
    width:100%;
    padding:20%;
    margin:3%;
    background-color:#FF764E
}